@import "styles/colors.scss";

.contact {
  .main {
    .top {
      margin: 24px auto;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      .contacts {
        display: flex;
        align-items: center;
        gap: 24px;

        img {
          width: 776px;
          height: 528px;
          border-radius: 16px;
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .element {
            padding: 24px 16px;

            p {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
        }
      }
    }
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    background: black;
    color: white;

    .form-wrapper {
      width: 576px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      h3 {
        text-align: center;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        button {
          width: 100%;
        }
      }
    }
  }
}
