@import "styles/colors.scss";

.about {
  .main {
    height: 1700px;
    background-image: url("/assets/images/about-main-bg.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    .mission {
      margin-top: 128px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      h3 {
        text-align: center;
      }
    }

    .values {
      margin-top: 108px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      align-items: center;

      .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .card {
          display: flex;
          padding: 48px 16px;
          align-items: center;
          height: 184px;
          gap: 8px;
          background: black;
          border-radius: 24px;

          h1 {
            color: #ffffff33;
          }

          h3,
          p {
            color: white;
          }

          .text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
        }
      }
    }
  }

  .history {
    height: 562px;
    display: flex;
    justify-content: center;
    align-items: center;

    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      span {
        display: flex;
        gap: 8px;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: $blue-dark;
        align-items: center;
        cursor: default;
      }

      p {
        text-align: center;
      }
    }
  }
}
