@import "styles/colors.scss";

.products-services {
  .main {
    background-image: url("/assets/images/productsservices-main-bg.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    .top {
      display: flex;
      flex-direction: column;
      gap: 48px;
      padding: 48px 0;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        .text {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
      .cards {
        display: flex;
        gap: 24px;

        .card {
          width: 100%;
          height: auto;
          background: black;
          color: white;
          padding: 24px 16px;
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }

  .mining {
    background: black;
    color: white;

    .group {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 60px 0;

      .block {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        h2 {
          margin: 24px 0;
        }

        p {
          text-align: center;
        }

        .cards {
          display: flex;
          gap: 24px;

          .card {
            width: 100%;
            height: auto;
            background: white;
            color: black;
            padding: 24px 16px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            p {
              text-align: start;
            }
          }
        }
      }
    }
  }
}
